<h5 class="text-primary" *ngIf="loading">(Loading...)</h5>

<div *ngIf="photo">
    <small class="tag tag-pill tag-default">{{photo.id}}</small>

    <div class="row">
        <div class="col-xs-12">
            <input type="text" class="form-control" placeholder="Enter a name..." [ngModel]="photo.name" #nameInput>
            <input type="text" class="form-control" placeholder="Describe your photo..."
                   [ngModel]="photo.description"
                   #descriptionInput>

            <button class="btn btn-primary btn-sm m-t-1" type="button"
                    (click)="savePhoto(nameInput.value, descriptionInput.value)">Save
            </button>
        </div>
    </div>

    <hr>

    <img src="{{ photo.url }}" style="width: 100%">

</div>
